<br><br>
<h2>Members Posts<h2>

<% @posts.each do |post|%>
  <ul>
    <li>
      <% if user_signed_in? %>
        <h5>Author:</h5> <span><%=post.user.username%></span>
      <% end %>
    </li>
    <li>
      <p>Title:</p> <span><%=post.title%></span>
    </li>
    <li>
      <h5>Context:</h5> <span><%=post.body%></span>
    </li>
</ul>
<%end%>